main {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
        "sidebar table";
}
aside {
    grid-area: "sidebar";
}
aside input {
    width: 100%;
}
aside button {
    width: 100%;
}
table {
    grid-area: "table";
    background-color: lightslategray;
}
tbody {
    background-color: white;
}
.separator {
    margin-top: 8px;
    margin-bottom: 8px;
    height: 2px;
    margin-left: 8px;
    margin-right: 2px;
    background-color: lightslategray;
}
#main_button {
    height: 30px;
}
.fa[style*="visibility: hidden"] {
    width: 0px;
    height: 0px;
}
@media(max-width: 700px){
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "sidebar"
            "table"
    }
    aside input {
        width: 100%;
    }
}